In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [ ]:
## Load the dataset
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
## Drop irrelavant columns
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [10]:
## Encode categorical variable
label_encoder_gender= LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [ ]:
## Onehot encode Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [2]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

NameError: name 'onehot_encoder_geo' is not defined

In [ ]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
## Combine one hot encoder columns with the original data 
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [15]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [16]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [ ]:
## Divide the dataset into independent and dependent features
x = data.drop('Exited',axis=1)
y = data['Exited']

## split the data in traning and testing sets
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

## Scale these features
scaler = StandardScaler()
x_train= scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [18]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [19]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [21]:
### Build Our Model
model = Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)), #HL2
    Dense(32,activation='relu'), #HL2
    Dense(1,activation='sigmoid')# output layer
])

WARNING:tensorflow:From c:\Users\viv96\OneDrive\Desktop\AL&ML Project\ANN End-to-End Project\venv\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [25]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [28]:
## set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir= "log/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir= log_dir,histogram_freq=1)

In [29]:
## set up Early Stopping
early_stopping_callback= EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [30]:
## Train the model
history= model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs= 100,
    callbacks=[tensorflow_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\viv96\OneDrive\Desktop\AL&ML Project\ANN End-to-End Project\venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\viv96\OneDrive\Desktop\AL&ML Project\ANN End-to-End Project\venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 6s 6ms/step - loss: 0.4012 - accuracy: 0.8289 - val_loss: 0.3794 - val_accuracy: 0.8505
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3533 - accuracy: 0.8564 - val_loss: 0.3400 - val_accuracy: 0.8565
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3479 - accuracy: 0.8584 - val_loss: 0.3584 - val_accuracy: 0.8540
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3483 - accuracy: 0.8550 - val_loss: 0.3406 - val_accuracy: 0.8645
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3403 - accuracy: 0.8591 - val_loss: 0.3340 - val_accuracy: 0.8570
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3368 - accuracy: 0.8604 - val_loss: 0.3370 - val_accuracy: 0.8610
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3368 - accuracy: 0.8606 - val_loss: 0.3366 - val_accuracy: 0.8580
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3363 - accuracy: 0.8591 - val_loss: 0.3404 - val_accuracy: 0.8625
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3334 - accuracy: 0.8621 - val_loss: 0.3399 - val_accuracy: 0.8615
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3321 - accuracy: 0.8654 - val_loss: 0.3343 - val_accuracy: 0.8595
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3283 - accuracy: 0.8635 - val_loss: 0.3413 - val_accuracy: 0.8620
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3261 - accuracy: 0.8674 - val_loss: 0.3426 - val_accuracy: 0.8625
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3254 - accuracy: 0.8654 - val_loss: 0.3726 - val_accuracy: 0.8550
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3259 - accuracy: 0.8669 - val_loss: 0.3618 - val_accuracy: 0.8545
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3255 - accuracy: 0.8668 - val_loss: 0.3584 - val_accuracy: 0.8535
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3181 - accuracy: 0.8659 - val_loss: 0.3502 - val_accuracy: 0.8585
Epoch 17/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3241 - accuracy: 0.8665 - val_loss: 0.3442 - val_accuracy: 0.8575
Epoch 18/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3181 - accuracy: 0.8721 - val_loss: 0.3491 - val_accuracy: 0.8610
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3158 - accuracy: 0.8692 - val_loss: 0.3601 - val_accuracy: 0.8580
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3140 - accuracy: 0.8683 - val_loss: 0.3466 - val_accuracy: 0.8635
Epoch 21/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3136 - accuracy: 0.8699 - val_loss: 0.3665 - val_accuracy: 0.8565
Epoch 22/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3111 - accuracy: 0.8717 - val_loss: 0.3492 - val_accuracy: 0.8600
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3089 - accuracy: 0.8730 - val_loss: 0.3621 - val_accuracy: 0.8565
Epoch 24/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3073 - accuracy: 0.8727 - val_loss: 0.3504 - val_accuracy: 0.8670
Epoch 25/100
250/250 [==============================] - 2s 10ms/step - loss: 0.3038 - accuracy: 0.8733 - val_loss: 0.3560 - val_accuracy: 0.8590
Epoch 26/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3062 - accuracy: 0.8702 - val_loss: 0.3541 - val_accuracy: 0.8620
Epoch 27/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3025 - accuracy: 0.8736 - val_loss: 0.3872 - val_accuracy: 0.8470
Epoch 28/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3006 - accuracy: 0.8710 - val_loss: 0.3678 - val_accuracy: 0.8595
Epoch 29/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2973 - accuracy: 0.8750 - val_loss: 0.3735 - val_accuracy: 0.8585
Epoch 30/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3005 - accuracy: 0.8717 - val_loss: 0.3829 - val_accuracy: 0.8500
Epoch 31/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2984 - accuracy: 0.8746 - val_loss: 0.3533 - val_accuracy: 0.8660
Epoch 32/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2959 - accuracy: 0.8770 - val_loss: 0.3564 - val_accuracy: 0.8630
Epoch 33/100
250/250 [==============================] - 2s 10ms/step - loss: 0.2969 - accuracy: 0.8730 - val_loss: 0.3745 - val_accuracy: 0.8560
Epoch 34/100
250/250 [==============================] - 2s 10ms/step - loss: 0.2916 - accuracy: 0.8754 - val_loss: 0.3758 - val_accuracy: 0.8550
Epoch 35/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2915 - accuracy: 0.8766 - val_loss: 0.3766 - val_accuracy: 0.8610
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 0.2911 - accuracy: 0.8769 - val_loss: 0.3754 - val_accuracy: 0.8660
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2900 - accuracy: 0.8786 - val_loss: 0.3906 - val_accuracy: 0.8580
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2868 - accuracy: 0.8780 - val_loss: 0.3883 - val_accuracy: 0.8570
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2866 - accuracy: 0.8794 - val_loss: 0.3861 - val_accuracy: 0.8565
Epoch 40/100
250/250 [==============================] - 3s 10ms/step - loss: 0.2840 - accuracy: 0.8808 - val_loss: 0.3825 - val_accuracy: 0.8505
Epoch 41/100
250/250 [==============================] - 2s 8ms/step - loss: 0.2815 - accuracy: 0.8776 - val_loss: 0.4003 - val_accuracy: 0.8625
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2796 - accuracy: 0.8783 - val_loss: 0.4027 - val_accuracy: 0.8640
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2806 - accuracy: 0.8798 - val_loss: 0.4010 - val_accuracy: 0.8575
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2791 - accuracy: 0.8809 - val_loss: 0.4067 - val_accuracy: 0.8595
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2760 - accuracy: 0.8802 - val_loss: 0.4138 - val_accuracy: 0.8640
Epoch 46/100
250/250 [==============================] - 2s 6ms/step - loss: 0.2726 - accuracy: 0.8831 - val_loss: 0.3974 - val_accuracy: 0.8565
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2738 - accuracy: 0.8821 - val_loss: 0.4152 - val_accuracy: 0.8620
Epoch 48/100
250/250 [==============================] - 1s 6ms/step - loss: 0.2721 - accuracy: 0.8832 - val_loss: 0.4002 - val_accuracy: 0.8575
Epoch 49/100
250/250 [==============================] - 1s 6ms/step - loss: 0.2759 - accuracy: 0.8830 - val_loss: 0.4182 - val_accuracy: 0.8565
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2698 - accuracy: 0.8823 - val_loss: 0.4269 - val_accuracy: 0.8590
Epoch 51/100
250/250 [==============================] - 1s 6ms/step - loss: 0.2708 - accuracy: 0.8829 - val_loss: 0.4065 - val_accuracy: 0.8550
Epoch 52/100
250/250 [==============================] - 2s 7ms/step - loss: 0.2675 - accuracy: 0.8867 - val_loss: 0.4188 - val_accuracy: 0.8450
Epoch 53/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2691 - accuracy: 0.8848 - val_loss: 0.4229 - val_accuracy: 0.8535
Epoch 54/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2632 - accuracy: 0.8863 - val_loss: 0.4264 - val_accuracy: 0.8615
Epoch 55/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2632 - accuracy: 0.8854 - val_loss: 0.4033 - val_accuracy: 0.8600
Epoch 56/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2648 - accuracy: 0.8849 - val_loss: 0.4397 - val_accuracy: 0.8585
Epoch 57/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2644 - accuracy: 0.8857 - val_loss: 0.4220 - val_accuracy: 0.8520
Epoch 58/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2665 - accuracy: 0.8846 - val_loss: 0.4357 - val_accuracy: 0.8570
Epoch 59/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2665 - accuracy: 0.8834 - val_loss: 0.4485 - val_accuracy: 0.8600
Epoch 60/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2595 - accuracy: 0.8852 - val_loss: 0.4468 - val_accuracy: 0.8565
Epoch 61/100
250/250 [==============================] - 2s 10ms/step - loss: 0.2558 - accuracy: 0.8879 - val_loss: 0.4349 - val_accuracy: 0.8540
Epoch 62/100
250/250 [==============================] - 3s 11ms/step - loss: 0.2615 - accuracy: 0.8852 - val_loss: 0.4520 - val_accuracy: 0.8585
Epoch 63/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2554 - accuracy: 0.8890 - val_loss: 0.4482 - val_accuracy: 0.8610
Epoch 64/100
250/250 [==============================] - 2s 8ms/step - loss: 0.2550 - accuracy: 0.8880 - val_loss: 0.4835 - val_accuracy: 0.8595
Epoch 65/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2589 - accuracy: 0.8874 - val_loss: 0.4578 - val_accuracy: 0.8510
Epoch 66/100
250/250 [==============================] - 2s 6ms/step - loss: 0.2528 - accuracy: 0.8881 - val_loss: 0.4699 - val_accuracy: 0.8585
Epoch 67/100
250/250 [==============================] - 2s 7ms/step - loss: 0.2538 - accuracy: 0.8869 - val_loss: 0.4672 - val_accuracy: 0.8480
Epoch 68/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2462 - accuracy: 0.8920 - val_loss: 0.4634 - val_accuracy: 0.8570
Epoch 69/100
250/250 [==============================] - 2s 8ms/step - loss: 0.2493 - accuracy: 0.8889 - val_loss: 0.4858 - val_accuracy: 0.8500
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2469 - accuracy: 0.8916 - val_loss: 0.4672 - val_accuracy: 0.8530
Epoch 71/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2466 - accuracy: 0.8906 - val_loss: 0.4717 - val_accuracy: 0.8580
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2480 - accuracy: 0.8915 - val_loss: 0.4621 - val_accuracy: 0.8555
Epoch 73/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2473 - accuracy: 0.8913 - val_loss: 0.4825 - val_accuracy: 0.8535
Epoch 74/100
250/250 [==============================] - 1s 6ms/step - loss: 0.2499 - accuracy: 0.8907 - val_loss: 0.4759 - val_accuracy: 0.8535
Epoch 75/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2460 - accuracy: 0.8906 - val_loss: 0.4778 - val_accuracy: 0.8455
Epoch 76/100
250/250 [==============================] - 2s 7ms/step - loss: 0.2445 - accuracy: 0.8936 - val_loss: 0.5022 - val_accuracy: 0.8480
Epoch 77/100
250/250 [==============================] - 2s 7ms/step - loss: 0.2429 - accuracy: 0.8934 - val_loss: 0.4863 - val_accuracy: 0.8565
Epoch 78/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2461 - accuracy: 0.8909 - val_loss: 0.5007 - val_accuracy: 0.8530
Epoch 79/100
250/250 [==============================] - 2s 9ms/step - loss: 0.2426 - accuracy: 0.8899 - val_loss: 0.4876 - val_accuracy: 0.8460
Epoch 80/100
250/250 [==============================] - 2s 10ms/step - loss: 0.2381 - accuracy: 0.8920 - val_loss: 0.4789 - val_accuracy: 0.8540
Epoch 81/100
250/250 [==============================] - 3s 10ms/step - loss: 0.2433 - accuracy: 0.8928 - val_loss: 0.5019 - val_accuracy: 0.8515
Epoch 82/100
250/250 [==============================] - 3s 11ms/step - loss: 0.2366 - accuracy: 0.8929 - val_loss: 0.4996 - val_accuracy: 0.8505
Epoch 83/100
250/250 [==============================] - 3s 13ms/step - loss: 0.2425 - accuracy: 0.8904 - val_loss: 0.5361 - val_accuracy: 0.8495
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2369 - accuracy: 0.8936 - val_loss: 0.4963 - val_accuracy: 0.8545
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2337 - accuracy: 0.8942 - val_loss: 0.5237 - val_accuracy: 0.8525
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2343 - accuracy: 0.8940 - val_loss: 0.4938 - val_accuracy: 0.8485
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2365 - accuracy: 0.8966 - val_loss: 0.5164 - val_accuracy: 0.8460
Epoch 88/100
250/250 [==============================] - 1s 6ms/step - loss: 0.2377 - accuracy: 0.8959 - val_loss: 0.5291 - val_accuracy: 0.8505
Epoch 89/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2385 - accuracy: 0.8942 - val_loss: 0.5249 - val_accuracy: 0.8495
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2369 - accuracy: 0.8934 - val_loss: 0.5147 - val_accuracy: 0.8490
Epoch 91/100
250/250 [==============================] - 1s 6ms/step - loss: 0.2314 - accuracy: 0.8949 - val_loss: 0.5430 - val_accuracy: 0.8570
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2302 - accuracy: 0.8970 - val_loss: 0.5179 - val_accuracy: 0.8520
Epoch 93/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2319 - accuracy: 0.8955 - val_loss: 0.5459 - val_accuracy: 0.8470
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2303 - accuracy: 0.8972 - val_loss: 0.5311 - val_accuracy: 0.8530
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2328 - accuracy: 0.8961 - val_loss: 0.5449 - val_accuracy: 0.8500
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2361 - accuracy: 0.8942 - val_loss: 0.5493 - val_accuracy: 0.8500
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2283 - accuracy: 0.8972 - val_loss: 0.5433 - val_accuracy: 0.8440
Epoch 98/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2286 - accuracy: 0.8999 - val_loss: 0.5798 - val_accuracy: 0.8490
Epoch 99/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2270 - accuracy: 0.9004 - val_loss: 0.5788 - val_accuracy: 0.8485
Epoch 100/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2296 - accuracy: 0.8981 - val_loss: 0.5531 - val_accuracy: 0.8530

In [31]:
model.save('model.h5')

c:\Users\viv96\OneDrive\Desktop\AL&ML Project\ANN End-to-End Project\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [32]:
## Load Tensorboard Extension
%load_ext tensorboard

In [37]:
%tensorboard --logdir log/fit20250716-143021

Reusing TensorBoard on port 6008 (pid 4844), started 0:00:03 ago. (Use '!kill 4844' to kill it.)