In [31]:
import tensorflow
from tensorflow.keras.models import load_model
import pickle 
import pandas as pd
import numpy as np

In [32]:
### Load the trained model , scalar pickle , one hot

model = load_model('model.h5')

## load the encoder and scalar
with open('label_encoder_gender.pkl','rb' ) as file:
    label_encoder_gender = pickle.load(file)

with open("onehot_encoder_geo",'rb') as file:
    label_encoder_geo= pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler= pickle.load(file)

In [33]:
## Example input data
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure': 3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [34]:
## one hot encode 'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

c:\Users\viv96\OneDrive\Desktop\AL&ML Project\ANN End-to-End Project\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [35]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [36]:
### Encode categorical varibles
input_df['Gender']= label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [39]:
### concatination one hot encoded
input_df = pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [ ]:
## Scaling the input data 
input_scaled= scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [ ]:
## pridict churn
prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 1s 647ms/step

array([[3.974048e-06]], dtype=float32)

In [ ]:
prediction_probability = prediction[0][0]
prediction_probability

3.974048e-06

In [ ]:
if prediction_probability > 0.5:
    print('The customer is likely to churn')
else:
    print('The customer is not likely to churn')

The customer is not likely to churn